<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>StudentManagement - Students</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
<div style="position: absolute; top: 0; right: 0; margin: 33px;">
  <button type="button" class="btn btn-primary" th:href="@{/login}">Login</button>
</div>
<h1 th:align="center" class="mt-4">Students</h1>
<hr>
<button type="button" class="btn btn-primary mt-4" style="position: relative; left: 165px;">Create Students</button>
<div class="container mt-5" th:align="center">
  <table class="table table-striped">
    <tr>
      <td>ID</td>
      <td>Email</td>
      <td>First Name</td>
      <td>Last Name</td>
    </tr>
    <tr th:each="student: ${students}">
      <td th:text="${student.id}"></td>
      <td th:text="${student.email}"></td>
      <td th:text="${student.firstname}"></td>
      <td th:text="${student.lastname}"></td>
    </tr>
  </table>
</div>
<hr class="mt-lg-5">
</body>
</html>